<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="always" name="referrer">
    <meta charset="utf-8"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>视频在线 - 金道环球投资实盘在线教育，投资之旅在此起航！</title>
</head>
<body>
	<h1><%=errcode %> - <%=errmsg%></h1>
	<%if(err) {%>
	<code><%=err%></code>
	<%}%>
</body>
</html>